:root { --primary: #f39c12;
 --secondary: #27ae60;
 --dark: #1a1a1a;
 --gray: #f4f4f4; 
}
body { font-family:sans-serif;
    margin: 0;
     background: var(--gray);
     height: 100vh;
     overflow: hidden;
 }

.pos-container {
     display: flex;
     height: 100vh; 
    }

/* Sidebar */

.sidebar { 
    width: 15%;
    background: var(--dark);
    display: flex;
    flex-direction: column;
    padding: 10px;
 }

.logo { 
    color: var(--primary);
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 1px solid #333; 
}

.logo:hover{
    font-style: italic;
    color: #27ae60;
}

.cat-btn { 
    padding: 18px 10px;
    border: none;
    background: transparent;
    color: #bbb;
    text-align: left;
    cursor: pointer;
    border-radius: 8px;
    margin-bottom: 5px;
    font-size: 2rem; 
}

.cat-btn:hover { 
    background: #333;
    color: rgb(204, 160, 17); 
}

/* Main Screen */

.main-screen { 
    width: 60%; 
    background: #eecccc; 
    display: flex; 
    flex-direction: column; 
}

.header { 
    padding: 20px; 
    border-bottom: 1px solid #eee; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}

#search { 
    padding: 10px; 
    width: 250px; 
    border: 1px solid #ddd; 
    border-radius: 20px; 
}

#items-container { 
    flex-grow: 1; 
    overflow-y: 
    auto; padding: 20px; 
}

.grid { 
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr)); 
    gap: 15px; 
}

/* Item Cards */

.item-card { 
    background: rgb(233, 217, 217);
    border: 2px solid #e2d7d7; 
    border-radius: 10px; 
    overflow: hidden; 
    cursor: pointer; 
    transition: 0.2s; 
    display: flex; 
    flex-direction: column;
}

.item-card:hover { 
    border-color: var(--primary); 
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
 }

.item-card img { 
    width: 200px; 
    height: 200px;
    object-fit: cover; 
    }

.item-card img:hover{
        width: 300px;
        height: 300px;
    }
.item-card .info { 
    padding: 10px; 
    text-align: center; 
}

.item-card h4 { 
    margin: 0; 
    font-size: 1rem; 
    color: #333; 
    height: 30px;
 }

.item-card p { 
    margin: 5px 0 0; 
    font-weight: bold; 
    color: var(--secondary);
 }

/* Receipt */

.receipt-section { 
    width: 25%; 
    background: white; 
    border-left: 1px solid #ddd; 
    display: flex; 
    flex-direction: column; 
}

.receipt-section h3 { 
    padding: 20px; 
    margin: 0; 
    background: #fafafa; 
    border-bottom: 1px solid #eee; 
}

#cart-items { 
    flex-grow: 1; 
    overflow-y: auto; 
    padding: 15px;
 }

.cart-row { 
    display: flex; 
    justify-content: space-between; 
    padding: 10px 0; 
    border-bottom: 1px dotted #ccc; align-items: center;
 }

.cart-row button { 
    background: #ff7675; 
    color: white; 
    border: none; 
    border-radius: 3px; 
    cursor: pointer; 
    padding: 2px 6px; 
    margin-left: 5px; 
}

.checkout-box { 
    padding: 20px; 
    background: var(--dark); 
    color: white;
 }

.total-row { 
    display: flex; 
    justify-content: space-between; 
    font-size: 1.5rem; 
    margin-bottom: 15px; 
}

.pay-btn { 
    width: 100%; 
    padding: 15px; 
    background: var(--secondary); 
    border: none; 
    color: white; 
    font-weight: bold; 
    border-radius: 5px; 
    cursor: pointer; 
    margin-bottom: 10px; 
}

.clear-btn { 
    width: 100%; 
    background: transparent; 
    border: 1px solid #555; 
    color: #aaa; 
    cursor: pointer; 
    padding: 5px; 
}